@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&family=ZCOOL+QingKe+HuangYou&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin: 12px 0;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 32px;
}

.container {
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.myForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.myInput {
    width: 40%;
    padding: 10px;
    margin: 9px;
    font-size: 15px;
    border: 2px solid #a93737;
    border-radius: 28px;
    outline: none;
}

.btn {
    padding: 12px 16px;
    font-size: 18px;
    border: 2px solid crimson;
    background: crimson;
    color: white;
    border-radius: 29px;
    margin-bottom: 15px;
    cursor: pointer;
    outline: none;
    transition: 0.4s;
}

.btn:hover{
    color: crimson;
    background: white;
    
}